body {
    margin: 0px;
    margin-bottom: -20px;
}

html {
    scroll-behavior:smooth;
}

main {
    width: 100%;
    margin: auto;
    --main-body-attach: rgb(50.5, 100.5, 150.5);
    --main-radius: 10px;
    --ocat-main-animation: unset;
    color: unset;
    margin-bottom: 8em;
}

article, section {
    padding: 10px 5%;
    padding-bottom: -100%;
    border-bottom: 3px solid;
}

section {
    background-color: rgb(255, 228, 119);
}

article {
    background-color: rgb(255, 204, 0);
}

a {
    color: rgb(250, 120, 0);
    margin-left: 10px;
    transition: color 0.5s;
}
main a:hover {
    color: rgb(5, 135, 255);

}

.content-table {
    background-color: whitesmoke;
    margin: 10px;
    border: 2px solid gray;
}

.content {
    position: relative;
    padding-bottom: -80%;
}

img {
    width: 10%;
    height: auto;
    object-fit: cover;
    position:absolute;
    right: 5%;
    bottom: 1%;
}

img.png {
    bottom: -11%;
    right: 8%;
}

p {
    width: 70%;
    margin: 0
}
