body {
    margin: 0px;
    margin-bottom: -20px;
}

html {
    scroll-behavior:smooth;
}

main {
    width: 95%;
    margin: auto;
}

section, article {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    padding-bottom: -100%;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);
}

main a {
    color: rgb(250, 120, 0);
    margin-left: 10px;
    transition: color 0.5s;
}
main a:hover {
    color: rgb(5, 135, 255);

}

.content-table {
    background-color: whitesmoke;
    margin: 10px;
    border: 2px solid gray;
}

.content {
    position: relative;
    padding-bottom: -80%;
}

img {
    width: 10%;
    height: auto;
    object-fit: cover;
    position:absolute;
    right: 5%;
    bottom: 1%;
}

img.png {
    bottom: -11%;
    right: 8%;
}

p {
    width: 70%;
    margin: 0
}
