body {
    margin: 0px;
    margin-bottom: -20px;
}

html {
    scroll-behavior:smooth;
}


section, article {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);
}

main a {
    color: rgb(250, 120, 0);
    margin-left: 2px;
    transition: color 0.5s;
}
main a:hover {
    color: rgb(5, 135, 255);

}

.content-table {
    background-color: whitesmoke;
    margin: 10px;
    border: 2px solid gray;
}

.content {
    position: relative;
}

img {
    width: 10%;
    height: auto;
    object-fit: cover;
    position:absolute;
    right: 10px;
    bottom: 20px;
}

p {
    width: 70%;
    margin: 0;
}
