button, .button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    font-weight: bold;
    transition:color 0.3s;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: var(--primary-color);
    color: white;
}

.button {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

main > form {
    background-color: #f0f0f0;
    border-radius: 40px;
    margin: 10%;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: red;   
}

.popup {
    display: none;
    margin: -25% 50%;
    position: fixed;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    z-index: 20;
}

.blurred-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 10;
}

label, input {
    display: block;
}

input {
    background-color: rgba(255, 155, 0, 0.2); 
    padding: 10px;
    border-radius: 10px;
}

input:hover {
    background-color: rgba(255, 155, 0, 0.4);
}

.field {
    margin-bottom: 10px;

}

form {
    margin-top: 10px;
}

#resize {
    display: inline;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .popup {
        visibility: hidden;
    }

    .blurred-background {
        visibility: hidden;
    }

    button:hover #resize::after {
        content: "No se puede usar esta funcionalidad desde teléfonos o tablets";
    }

    button:hover #resize {
        color: red;
        font-size:medium;
        font-style: italic;
        display: block;
        margin: 10px;
    }
}