body {
    margin: 0px;
}

nav {
    background-color: rgba(255, 155, 0, 0.6);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight:bold;
    padding: 0.5em 1em;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

h1 {
    text-align: center;
    margin-top: 0;
}

section, article {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);
}

main a {
    color: rgb(250, 120, 0);
    margin-left: 10px;
}
main a:hover {
    color: rgb(260, 130, 10);

}

.codespace {
    background-color: gray;
    max-width: 50%;
    max-height: 50%;
    padding: 5px;
    border-radius: 10px;
}


.codespace h3 {
    color: white;
    text-align: center;
    margin: 0px;
}

pre {
    background-color: white;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    overflow: auto;
}

p strong.subtitle {
    display: block;
    margin-top: -10px;
}