#build {
    color: red;
    font-size: 1.5rem;
    padding: 10px;
    font-style: oblique;
    position: relative;
    margin: auto;
    left: 47%;
    bottom: 10px;
}

#build:after {
    content: "En contrucción";
}

ul {
    list-style-type: disc;
}

ul > li > ul {
    list-style-type: square;
}