#build {
    color: red;
    font-size: 1.5rem;
    padding: 10px;
    position: relative;
    font-style: oblique;


}

#build:after {
    content: "En contrucción";
}

ul {
    list-style-type: disc;
}

ul > li > ul {
    list-style-type: square;
}